@import "./mixins";
 .bottom-container {
     height: 60rem;
     margin-top:5rem;
     @include grid();
     @include respond(tablet){
         @include flex-column;
         border: 1px solid;
         height: 70rem;
         margin-left:-12rem;
     }
     .laptop{
        @include respond(tablet){
            border: 1px solid;
            height:30rem;
            width:40rem;
           margin-left:12rem;
        }
         img{
             position: absolute;
             margin-left:-17rem;
             @include respond(desktop){
                 width:55rem;
             }
             @include respond(laptop){
             width:50rem;   
            }
            @include respond(laptop_tablet){
                width: 45rem;
                margin-top:4rem;
            }
            @include respond(tablet){
                margin-left:2rem;
                width: 100%;
            }

         }
     }
     .features{
         height: 28rem;
         @include flex-column();
         gap:3rem;
         margin-top:13rem;
         @include respond(desktop){
             margin-left:2rem;
         }
         @include respond(laptop){
         margin-top:10rem;
         margin-left:2rem;       
        }
        @include respond(laptop_tablet){
            margin-left:1rem;
        }
        @include respond(tablet){
            border: 1px solid;
            margin-top:2rem;
            margin-left:1rem;
            height: 35rem;
        }
         .free{
             @include respond(tablet){
                 text-align:center;
                 margin-left:30%;
                 margin-right:0%;
             }
             h2{
                 @include sub-header();
             }
             p{
                 @include body-text();
                 margin-right: 18rem;
                 margin-top: 2rem;
                 @include respond(desktop){
                     margin-right:5rem;
                 }
                 @include respond(laptop_tablet){
                    margin-right:2rem;
                }
             }
         }
         .tooling{
             @extend .free;
         }
     }
 }