@import "./mixins";
 .bottom-container {
     height: 60rem;
     margin-top:5rem;
     @include grid();
     .laptop{
         img{
             position: absolute;
             margin-left:-17rem;
             @include respond(desktop){
                 width:55rem;
             }
             @include respond(laptop){
             width:50rem;   
            }
            @include respond(laptop_tablet){
                width: 45rem;
                margin-top:4rem;
            }
         }
     }
     .features{
         height: 28rem;
         @include flex-column();
         gap:3rem;
         margin-top:13rem;
         @include respond(desktop){
             margin-left:2rem;
         }
         @include respond(laptop){
         margin-top:10rem;
         margin-left:2rem;       
        }
        @include respond(laptop_tablet){
            margin-left:1rem;
        }
         .free{
             h2{
                 @include sub-header();
             }
             p{
                 @include body-text();
                 margin-right: 18rem;
                 margin-top: 2rem;
                 @include respond(desktop){
                     margin-right:5rem;
                 }
                 @include respond(laptop_tablet){
                    margin-right:2rem;
                }
             }
         }
         .tooling{
             @extend .free;
         }
     }
 }