@import "./mixins";
@import "./media";

footer{
    height: 40rem;
    background-color: $footer-background;
    border-top-right-radius: 8rem;
    .footer-nav{
        height: 100%;
        @include flex-row;
        gap:12rem;
        padding-top:5rem;
        margin-left: 10%;

        .footer-nav-items{
            @include flex-row();
            justify-content: space-between;
            width: 45%;
            @include respond(laptop){
                width:10%;
            }
            @include respond(laptop_tablet){
                margin-right: 123rem;
            }
            .product-footer{
                .product-link{
                    @include footer-link();
                    
                }
                .product-details{
                   @include details();
                   .drop-link{
                       cursor:pointer;
                       &:hover{
                        @include footer-nav-hover();
                       }
                       
                   }
                }
            }
            .company-footer{
                .company-link{
                    @include footer-link();
                    
                }
                .company-details{
                    @include details();
                    .drop-link{
                        cursor:pointer;
                        &:hover{
                         @include footer-nav-hover();
                        }
                        
                    }
                }
            }
            .connect-footer{
                .connect-link{
                    @include footer-link();
                }
                .connect-details{
                    @include details();
                    .drop-link{
                        cursor:pointer;
                        &:hover{
                         @include footer-nav-hover();
                        }
                        
                    }
                }
            }
            
        }
    }
}