
@import "./mixins";
@import "./media";


header {
    background: url("/images/bg-pattern-intro-desktop.svg"), linear-gradient(to left, $light-red, $very-light-red);
    background-repeat: no-repeat;
    background-size: auto;
    background-position:  20% center;
    height: 35rem;
    border-bottom-left-radius: 9rem;
    nav{ 
        @include flex-row();
        justify-content: space-between;
        height: 5rem;
        padding: 3rem;
        .logo{
            margin-left:10%;
            @include respond(laptop){
             margin-left:2%;   
            }

            @include respond(laptop_tablet){
                margin-left:-4%;
            }
            
            
        }
        .nav-items {                    //main nav links on navbar, productm company and connect
            @include flex-row();
            justify-content: space-between;
            width: 29%;
            font-family: 'Ubuntu', sans-serif;
            margin-left:-13rem;
            margin-top:0.5rem;
            @include respond(laptop){
             width:42%;
             margin-left:-5rem;   
            }

            @include respond(laptop_tablet){
                width:50%;
                margin-left:-1rem;
            }

            @include respond(tablet){
               position: absolute; 
               margin-top:4rem;
               margin-left:4%;
               background-color:white;
               height: 30rem;
               width:80%;
               @include flex-column();
               align-items:center;
               justify-content: start;
               gap:3rem;
               padding-top: 3rem;
               display: none;
               
            }
            .product-wrapper, .company-wrapper, .connect-wrapper { //dropdown wrapper
                @include flex-row();
                @include respond(tablet){
                    width: 100%;
                    justify-content: center;
                }   
                .light-arrow{
                   @include arrow();
                   transition: transform 0.5s ease-in-out;
                  @include respond(tablet){
                      background-color:red;
                      display: none;
                  }
                }
                .dark-arrow{
                    display: none;
                    transition: transform 0.5s ease-in-out;
                    @include respond(tablet){
                        display: block;
                        @include arrow();

                    }
                }
            }
    

            .rotate-arrow {
                transform: rotate(180deg);
               
            }

           


            .company-wrapper { 
                .light-arrow{
                    margin-left:1rem;
                }
            }

            .product, .company, .connect{           //dropdown starts here
                list-style: none;
                cursor: pointer;
                color: $nav; 
                &:hover{
                    text-decoration:underline;
                    @include respond(tablet){
                        text-decoration:none;
                    }
                }
                @include respond(tablet){
                color: $body-text;
                font-size: 1.4rem;
                   
                }
                .product-items, .company-items, .connect-items{
                    background-color: white;
                    width: 9rem;
                    height: 12rem;
                    position: absolute;
                    margin-top: 2rem;
                    color: black;
                    border-radius: 0.5rem;
                    display: none;
                    
                    @include respond(laptop){
                        width:8rem;
                    }
                    @include respond(tablet){
                        
                        position: static;
                        width: 20rem;
                        height:14rem;
                        color: $body-text;
                        background-color: rgb(226, 226, 226);
                        font-size:1.2rem;
                    }
                  
                    li{
                        list-style: none;
                        margin-top: 1rem;
                        margin-left: 1rem;
                        
                        &:hover{
                            font-weight:600 ;
                            cursor:pointer;
                            @include respond(tablet){
                                font-weight:300 ;
                            }
                        }
                    }
                }

                .product-items{
                    @include respond(laptop_tablet){
                        margin-left: -4rem;
                    }
                   
                }

                .company-items{
                    height: 11rem;
                    @include respond(laptop_tablet){
                        margin-left: -2rem;
                    }
                }

                .connect-items {
                    height: 9rem;

                }
                 
               
                
                .product-items.active {
                    @include flex-column();
                    align-items:center; 
                }
                
                

                .company-items.active {
                    @include flex-column();
                    align-items:center; 
                 }

                 .connect-items.active {
                    @include flex-column();
                    align-items:center; 
                 }

                a {
                    text-decoration: none;
                    color: $nav;
                }
            }

           
        }

        .nav-active{
            display: flex;
        }
        // Login and Sign 
        .account {
            @include flex-row();
            justify-content: space-between;
            width: 14%;
            margin-right: 15%;
            font-family: 'Ubuntu', sans-serif;
            margin-top:0.5rem;
            @include respond(desktop){
                width:20%;
                margin-right: 5%;
            }

           

            @include respond(laptop){
                margin-right:1%;
                width:22%;
            }

            @include respond(laptop_tablet){
                width:29%;
                margin-right:-5%;
            }

            @include respond(tablet){
                display: none;
            }
            .login, .sign-up{
                list-style: none;
                a {
                    text-decoration: none;
                    color:$nav;
                }
                
            }

            .login{
                &:hover{
                    text-decoration:underline;
                }
            }

            .sign-up{
                @include ct-button-white();
                cursor: pointer;
                &:hover{
                    @include ct-button-red;
                }

            }
        }
        .account-mobile{
            display: none;
            @include respond(tablet){
                @include flex-column;
                align-items: center;
                gap:1rem;
                height: 20rem;
                padding-top:2rem;
                width:80%;
                border-top: 1px solid rgb(226, 226, 226);
            }
            .login-mobile{
                list-style: none;
                font-size: 1.4rem;
                font-weight: 600;
                a {
                    text-decoration: none;
                    color:$headings-dark-blue;
                    font-family: 'Overpass', sans-serif;
                }
                
            }

            .sign-up-mobile{
                @include ct-button-gradient();
                cursor:pointer;
            }
        }
        .hamburger{
            display: none;
            cursor: pointer;
            @include respond(tablet){
                display: block;
            }
        }

        .close{
            display: none;
            cursor: pointer;
        }

        
    }
    .intro {                            //h1, p and two buttons
        @include flex-column();
        align-items: center;
        gap: 2rem;
        margin-top: 6rem;
        margin-left: 15rem;
        width: 66rem;
        height: 20rem;
        @include respond(desktop){
            margin-left:8rem;
        }
        @include respond(laptop){
            margin-left:-2rem;        
        }
        @include respond(laptop_tablet){
            margin-left:-8rem;
        }
        h1{
            font-family: 'Overpass', sans-serif;
            color: white;
            font-size: 4rem;
            @include respond(laptop){
                font-size:3.5rem;
            }
            @include respond(laptop_tablet){
                font-size:3rem;
            }
        }
        p{
            color:$nav;
            font-size:1.5rem;
        }
        .buttons{
            @include flex-row();
            justify-content: space-between;
            width:27%;
            height:5rem;
            .start{
                @include ct-button-white();
                margin-top: 0rem;
                cursor: pointer;
                &:hover{
                    @include ct-button-red();
                    margin-top:0rem;
                }
            }
            .learn{
                @include ct-button-transparent();
                cursor: pointer;
                &:hover{
                    @include ct-button-white();
                    margin-top:0rem;
                }
            }
        }
    }

}


