@import "./mixins";

.infra{
    @include grid();
    background-image: url("/images/bg-pattern-circles.svg"), linear-gradient( to right, $dark-gray-blue, $dark-blue) ;
    background-repeat: no-repeat;
    background-size: auto;
    background-position:left bottom;
    height: 25rem;
    border-bottom-left-radius: 6rem;
    border-top-right-radius: 6rem;
    .phones{
        img{
            position: absolute;
            margin-top:-5rem;
            margin-left:7rem;
        }
        
    }
    .infra-details{
        .info{
            margin-top:8rem;
            
            h2{
                @include sub-header();
                color: white;
                font-size: 2.3rem;
                
            }
            p{
                @include body-text();
                color: $nav;
                margin-right: 15rem;
            }
        }
    }
}