@import "./mixins";

.infra{
    @include grid();
    background-image: url("/images/bg-pattern-circles.svg"), linear-gradient( to right, $dark-gray-blue, $dark-blue) ;
    background-repeat: no-repeat;
    background-size: auto;
    background-position:left bottom;
    height: 25rem;
    border-bottom-left-radius: 6rem;
    border-top-right-radius: 6rem;
    @include respond(laptop){
     height: 20rem;           
    }
    @include respond(tablet){
        height: 36rem;
        @include flex-column();
        background-size:100%;
        background-position: top;
        
    }
    .phones{
        img{
            position: absolute;
            margin-top:-5rem;
            margin-left:7rem;
            @include respond(desktop){
                margin-left: 1rem;
            }
            @include respond(laptop){
             width:27rem; 
             margin-top:-3rem;  
            }
            @include respond(laptop_tablet){
                width:24rem;
                margin-left:-1rem;
                margin-top:-1rem;
            }
            @include respond(tablet){
                width: 31rem;
                margin-top:-15rem;
                margin-left:10%;
            }
        }
        
    }
    .infra-details{
        @include respond(tablet){
            margin-top:25rem;
            height: 20rem;
            margin-top:15rem;
        }
        .info{
            margin-top:8rem;
            @include respond(desktop){
                margin-left:1rem;
                margin-top:8rem;
            }
            @include respond(laptop){
             margin-top: 4rem;
             margin-left:-2rem;   
            }
            @include respond(laptop_tablet){
                width: fit-content;
                margin-left:-4rem;
                margin-top:2rem;
            }
            @include respond(tablet){
                width: 26rem;
                margin-left:20%;
                margin-top:0rem;
                height:20rem;
            }
            
            h2{
                @include sub-header();
                color: white;
                font-size: 2.3rem;
                @include respond(laptop){
                font-size:2rem;
                }
                @include respond(laptop_tablet){
                    width: 15rem;
                    margin-left:12rem;
                }
                @include respond(tablet){
                    font-size:2.1rem;
                    text-align:center;
                    margin-left: -10%;
                }
                
            }
            p{
                @include body-text();
                color: $nav;
                margin-right: 15rem;
                @include respond(desktop){
                    margin-right: 8rem;
                    
                }
                @include respond(laptop){
                    margin-right:4rem;
                }
                @include respond(laptop_tablet){
                    width:19rem;
                    margin-left:10rem;
                    margin-top: 1rem;
                }
                @include respond(tablet){
                    text-align: center;
                    font-size: 1.2rem;
                    line-height: 1.5;
                    margin-top:1rem;
                }
                
            }
        }
    }
}