//backgrounds
$cta-hover-background:hsl(355, 100%, 74%);
$footer-background:hsl(240, 10%, 16%);
$very-light-red:hsl(13, 100%, 72%);
$light-red:hsl(353, 100%, 62%);;
$div-gradient: hsl(237, 23%, 32%);
$dark-gray-blue:hsl(237, 17%, 21%);
$dark-blue: hsl(237, 23%, 32%);


//Text color
$cta-text:hsl(356, 100%, 66%);
$headings-dark-blue:hsl(208, 49%, 24%);
$white:hsl(0, 0%, 100%);
$footer-text:hsl(240, 2%, 79%);
$body-text: hsl(207, 13%, 34%);
$nav:rgb(240, 235, 235);
