@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background: url("/images/bg-pattern-intro-desktop.svg"), -webkit-gradient(linear, right top, left top, from(#ff3d54), to(#ff8f70));
  background: url("/images/bg-pattern-intro-desktop.svg"), linear-gradient(to left, #ff3d54, #ff8f70);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 20% center;
  height: 35rem;
  border-bottom-left-radius: 9rem;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5rem;
  padding: 3rem;
}

header nav .logo {
  margin-left: 10%;
}

@media (max-width: 992px) {
  header nav .logo {
    margin-left: 2%;
  }
}

header nav .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 29%;
  font-family: 'Ubuntu', sans-serif;
  margin-left: -13rem;
  margin-top: 0.5rem;
}

@media (max-width: 992px) {
  header nav .nav-items {
    width: 42%;
    margin-left: -5rem;
  }
}

@media (max-width: 768px) {
  header nav .nav-items {
    position: absolute;
    margin-top: 4rem;
    margin-left: 4%;
    background-color: white;
    height: 30rem;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 3rem;
    padding-top: 3rem;
  }
}

header nav .nav-items .product-wrapper, header nav .nav-items .company-wrapper, header nav .nav-items .connect-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 768px) {
  header nav .nav-items .product-wrapper, header nav .nav-items .company-wrapper, header nav .nav-items .connect-wrapper {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header nav .nav-items .product-wrapper .light-arrow, header nav .nav-items .company-wrapper .light-arrow, header nav .nav-items .connect-wrapper .light-arrow {
  height: 0.6rem;
  width: 0.7rem;
  margin-top: 0.22rem;
  margin-left: 1rem;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

@media (max-width: 768px) {
  header nav .nav-items .product-wrapper .light-arrow, header nav .nav-items .company-wrapper .light-arrow, header nav .nav-items .connect-wrapper .light-arrow {
    background-color: red;
    display: none;
  }
}

header nav .nav-items .product-wrapper .dark-arrow, header nav .nav-items .company-wrapper .dark-arrow, header nav .nav-items .connect-wrapper .dark-arrow {
  display: none;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

@media (max-width: 768px) {
  header nav .nav-items .product-wrapper .dark-arrow, header nav .nav-items .company-wrapper .dark-arrow, header nav .nav-items .connect-wrapper .dark-arrow {
    display: block;
    height: 0.6rem;
    width: 0.7rem;
    margin-top: 0.22rem;
    margin-left: 1rem;
  }
}

header nav .nav-items .rotate-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header nav .nav-items .company-wrapper .light-arrow {
  margin-left: 1rem;
}

header nav .nav-items .product, header nav .nav-items .company, header nav .nav-items .connect {
  list-style: none;
  cursor: pointer;
  color: #f0ebeb;
}

header nav .nav-items .product:hover, header nav .nav-items .company:hover, header nav .nav-items .connect:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  header nav .nav-items .product, header nav .nav-items .company, header nav .nav-items .connect {
    color: #4b5862;
    font-size: 1.4rem;
  }
}

header nav .nav-items .product .product-items, header nav .nav-items .product .company-items, header nav .nav-items .product .connect-items, header nav .nav-items .company .product-items, header nav .nav-items .company .company-items, header nav .nav-items .company .connect-items, header nav .nav-items .connect .product-items, header nav .nav-items .connect .company-items, header nav .nav-items .connect .connect-items {
  background-color: white;
  width: 9rem;
  height: 12rem;
  position: absolute;
  margin-top: 2rem;
  color: black;
  border-radius: 0.5rem;
  display: none;
}

@media (max-width: 992px) {
  header nav .nav-items .product .product-items, header nav .nav-items .product .company-items, header nav .nav-items .product .connect-items, header nav .nav-items .company .product-items, header nav .nav-items .company .company-items, header nav .nav-items .company .connect-items, header nav .nav-items .connect .product-items, header nav .nav-items .connect .company-items, header nav .nav-items .connect .connect-items {
    width: 8rem;
  }
}

@media (max-width: 768px) {
  header nav .nav-items .product .product-items, header nav .nav-items .product .company-items, header nav .nav-items .product .connect-items, header nav .nav-items .company .product-items, header nav .nav-items .company .company-items, header nav .nav-items .company .connect-items, header nav .nav-items .connect .product-items, header nav .nav-items .connect .company-items, header nav .nav-items .connect .connect-items {
    position: static;
    border: 1px solid;
  }
}

header nav .nav-items .product .product-items li, header nav .nav-items .product .company-items li, header nav .nav-items .product .connect-items li, header nav .nav-items .company .product-items li, header nav .nav-items .company .company-items li, header nav .nav-items .company .connect-items li, header nav .nav-items .connect .product-items li, header nav .nav-items .connect .company-items li, header nav .nav-items .connect .connect-items li {
  list-style: none;
  margin-top: 1rem;
  margin-left: 1rem;
}

header nav .nav-items .product .product-items li:hover, header nav .nav-items .product .company-items li:hover, header nav .nav-items .product .connect-items li:hover, header nav .nav-items .company .product-items li:hover, header nav .nav-items .company .company-items li:hover, header nav .nav-items .company .connect-items li:hover, header nav .nav-items .connect .product-items li:hover, header nav .nav-items .connect .company-items li:hover, header nav .nav-items .connect .connect-items li:hover {
  font-weight: 600;
  cursor: pointer;
}

header nav .nav-items .product .company-items, header nav .nav-items .company .company-items, header nav .nav-items .connect .company-items {
  height: 10rem;
}

header nav .nav-items .product .connect-items, header nav .nav-items .company .connect-items, header nav .nav-items .connect .connect-items {
  height: 7rem;
}

header nav .nav-items .product .product-items.active, header nav .nav-items .company .product-items.active, header nav .nav-items .connect .product-items.active {
  display: block;
}

header nav .nav-items .product .company-items.active, header nav .nav-items .company .company-items.active, header nav .nav-items .connect .company-items.active {
  display: block;
}

header nav .nav-items .product .connect-items.active, header nav .nav-items .company .connect-items.active, header nav .nav-items .connect .connect-items.active {
  display: block;
}

header nav .nav-items .product a, header nav .nav-items .company a, header nav .nav-items .connect a {
  text-decoration: none;
  color: #f0ebeb;
}

header nav .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 14%;
  margin-right: 15%;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 0.5rem;
}

@media (max-width: 1300px) {
  header nav .account {
    width: 20%;
    margin-right: 5%;
  }
}

@media (max-width: 992px) {
  header nav .account {
    width: 25%;
    margin-right: 1%;
    width: 22%;
  }
}

header nav .account .login, header nav .account .sign-up {
  list-style: none;
}

header nav .account .login a, header nav .account .sign-up a {
  text-decoration: none;
  color: #f0ebeb;
}

header nav .account .login:hover {
  text-decoration: underline;
}

header nav .account .sign-up {
  background-color: white;
  color: #ff525d;
  border: none;
  border-radius: 2rem;
  width: 8rem;
  height: 3rem;
  font-family: 'Ubuntu', sans-serif;
  margin-top: -1rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

header nav .account .sign-up:hover {
  background-color: #ff7a85;
  color: white;
  border: none;
  border-radius: 2rem;
  width: 8rem;
  height: 3rem;
  font-family: 'Ubuntu', sans-serif;
  margin-top: -1rem;
  font-weight: 700;
  font-size: 1rem;
}

header .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin-top: 6rem;
  margin-left: 15rem;
  width: 66rem;
  height: 20rem;
}

@media (max-width: 1300px) {
  header .intro {
    margin-left: 8rem;
  }
}

@media (max-width: 992px) {
  header .intro {
    margin-left: -2rem;
  }
}

header .intro h1 {
  font-family: 'Overpass', sans-serif;
  color: white;
  font-size: 4rem;
}

@media (max-width: 992px) {
  header .intro h1 {
    font-size: 3.5rem;
  }
}

header .intro p {
  color: #f0ebeb;
  font-size: 1.5rem;
}

header .intro .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 27%;
  height: 5rem;
}

header .intro .buttons .start {
  background-color: white;
  color: #ff525d;
  border: none;
  border-radius: 2rem;
  width: 8rem;
  height: 3rem;
  font-family: 'Ubuntu', sans-serif;
  margin-top: -1rem;
  font-weight: 700;
  font-size: 1rem;
  margin-top: 0rem;
  cursor: pointer;
}

header .intro .buttons .start:hover {
  background-color: #ff7a85;
  color: white;
  border: none;
  border-radius: 2rem;
  width: 8rem;
  height: 3rem;
  font-family: 'Ubuntu', sans-serif;
  margin-top: -1rem;
  font-weight: 700;
  font-size: 1rem;
  margin-top: 0rem;
}

header .intro .buttons .learn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 2rem;
  width: 8rem;
  height: 3rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

header .intro .buttons .learn:hover {
  background-color: white;
  color: #ff525d;
  border: none;
  border-radius: 2rem;
  width: 8rem;
  height: 3rem;
  font-family: 'Ubuntu', sans-serif;
  margin-top: -1rem;
  font-weight: 700;
  font-size: 1rem;
  margin-top: 0rem;
}

body {
  overflow-x: hidden;
}

.design-container {
  width: 100%;
  height: 70rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 992px) {
  .design-container {
    margin-top: -5rem;
  }
}

.design-container h1 {
  font-family: 'Overpass', sans-serif;
  font-size: 2.8rem;
  color: #1f3f5b;
  margin-top: 12rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 1300px) {
  .design-container h1 {
    margin-left: -15rem;
  }
}

@media (max-width: 992px) {
  .design-container h1 {
    font-size: 2.4rem;
  }
}

.design-container .division {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 100%;
  margin-top: 5rem;
}

.design-container .division .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6rem;
  height: 30rem;
}

@media (max-width: 992px) {
  .design-container .division .content {
    margin-left: 5%;
  }
}

.design-container .division .content .content-top, .design-container .division .content .content-bottom {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 10%;
}

.design-container .division .content .content-top h2, .design-container .division .content .content-bottom h2 {
  font-family: 'Overpass', sans-serif;
  font-size: 1.8rem;
  color: #1f3f5b;
}

@media (max-width: 992px) {
  .design-container .division .content .content-top h2, .design-container .division .content .content-bottom h2 {
    font-size: 1.5rem;
  }
}

.design-container .division .content .content-top p, .design-container .division .content .content-bottom p {
  line-height: 1.5;
  font-size: 1.1rem;
  color: #4b5862;
}

.design-container .division .editor-image img {
  position: absolute;
  margin-left: 8rem;
  margin-top: -12rem;
}

@media (max-width: 1300px) {
  .design-container .division .editor-image img {
    width: 50rem;
    margin-left: 3rem;
  }
}

@media (max-width: 992px) {
  .design-container .division .editor-image img {
    width: 40rem;
    margin-top: -8rem;
  }
}

.infra {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background-image: url("/images/bg-pattern-circles.svg"), -webkit-gradient(linear, left top, right top, from(#2c2d3f), to(#3f4164));
  background-image: url("/images/bg-pattern-circles.svg"), linear-gradient(to right, #2c2d3f, #3f4164);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left bottom;
  height: 25rem;
  border-bottom-left-radius: 6rem;
  border-top-right-radius: 6rem;
}

@media (max-width: 992px) {
  .infra {
    height: 20rem;
  }
}

.infra .phones img {
  position: absolute;
  margin-top: -5rem;
  margin-left: 7rem;
}

@media (max-width: 1300px) {
  .infra .phones img {
    margin-left: 1rem;
  }
}

@media (max-width: 992px) {
  .infra .phones img {
    width: 27rem;
    margin-top: -3rem;
  }
}

.infra .infra-details .info {
  margin-top: 8rem;
}

@media (max-width: 1300px) {
  .infra .infra-details .info {
    margin-left: 1rem;
    margin-top: 8rem;
  }
}

@media (max-width: 992px) {
  .infra .infra-details .info {
    margin-top: 4rem;
    margin-left: -2rem;
  }
}

.infra .infra-details .info h2 {
  font-family: 'Overpass', sans-serif;
  font-size: 1.8rem;
  color: #1f3f5b;
  color: white;
  font-size: 2.3rem;
}

@media (max-width: 992px) {
  .infra .infra-details .info h2 {
    font-size: 2rem;
  }
}

.infra .infra-details .info p {
  line-height: 1.5;
  font-size: 1.1rem;
  color: #4b5862;
  color: #f0ebeb;
  margin-right: 15rem;
}

@media (max-width: 1300px) {
  .infra .infra-details .info p {
    margin-right: 8rem;
  }
}

@media (max-width: 992px) {
  .infra .infra-details .info p {
    margin-right: 4rem;
  }
}

.bottom-container {
  height: 60rem;
  margin-top: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.bottom-container .laptop img {
  position: absolute;
  margin-left: -17rem;
}

@media (max-width: 1300px) {
  .bottom-container .laptop img {
    width: 55rem;
  }
}

@media (max-width: 992px) {
  .bottom-container .laptop img {
    width: 50rem;
  }
}

.bottom-container .features {
  height: 28rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  margin-top: 13rem;
}

@media (max-width: 1300px) {
  .bottom-container .features {
    margin-left: 2rem;
  }
}

@media (max-width: 992px) {
  .bottom-container .features {
    margin-top: 10rem;
    margin-left: 2rem;
  }
}

.bottom-container .features .free h2, .bottom-container .features .tooling h2 {
  font-family: 'Overpass', sans-serif;
  font-size: 1.8rem;
  color: #1f3f5b;
}

.bottom-container .features .free p, .bottom-container .features .tooling p {
  line-height: 1.5;
  font-size: 1.1rem;
  color: #4b5862;
  margin-right: 18rem;
  margin-top: 2rem;
}

@media (max-width: 1300px) {
  .bottom-container .features .free p, .bottom-container .features .tooling p {
    margin-right: 5rem;
  }
}

footer {
  height: 25rem;
  background-color: #25252d;
  border-top-right-radius: 8rem;
}

footer .footer-nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 12rem;
  padding-top: 5rem;
  margin-left: 10%;
}

footer .footer-nav .footer-nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

footer .footer-nav .footer-nav-items .product-footer .product-link {
  color: white;
  font-size: 1.1rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

footer .footer-nav .footer-nav-items .product-footer .product-details {
  width: 12rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #4b5862;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
  margin-top: 2rem;
  height: 14rem;
}

footer .footer-nav .footer-nav-items .product-footer .product-details .drop-link {
  cursor: pointer;
}

footer .footer-nav .footer-nav-items .product-footer .product-details .drop-link:hover {
  text-decoration: underline;
}

footer .footer-nav .footer-nav-items .company-footer .company-link {
  color: white;
  font-size: 1.1rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

footer .footer-nav .footer-nav-items .company-footer .company-details {
  width: 12rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #4b5862;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
  margin-top: 2rem;
  height: 14rem;
}

footer .footer-nav .footer-nav-items .company-footer .company-details .drop-link {
  cursor: pointer;
}

footer .footer-nav .footer-nav-items .company-footer .company-details .drop-link:hover {
  text-decoration: underline;
}

footer .footer-nav .footer-nav-items .connect-footer .connect-link {
  color: white;
  font-size: 1.1rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

footer .footer-nav .footer-nav-items .connect-footer .connect-details {
  width: 12rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #4b5862;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
  margin-top: 2rem;
  height: 14rem;
}

footer .footer-nav .footer-nav-items .connect-footer .connect-details .drop-link {
  cursor: pointer;
}

footer .footer-nav .footer-nav-items .connect-footer .connect-details .drop-link:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=styles.css.map */